/* colors */
:root {
  --color-title: cornflowerblue;
  --color-title-light: violet;
  --color-focus: lightblue;
  --color-btn: violet;
  --color-btn-focus: slateblue;
  --color-btn-text: #fff;
  --color-backgr: lightgreen;
  --color-light: #fff;
}

/* general */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--color-light);
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
}

main {
  height: 90%;
  display: grid;
  grid-template-areas:
    "content" "content" "content" "content";
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, 35%);
  margin: 0 auto;
}

div {
  border: solid 2px #ccc;
}

#one {
  background-color: #fff;
}
