<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/colorstyles.css">
    <title>Color picker</title>
  </head>
  <body>
    <header>
      <h1 class="title">kies een kleur</h1>
    </header>
    <main class="grid">
      <div id="one" class="1">
        <input id="input1" class="jscolor" type="text">
      </div>
      <div id="two" class="2">
        <input class="jscolor" type="text">
      </div>
      <div id="three" class="3">
        <input type="text">
      </div>
      <div id="four" class="4">
        <input type="text">
      </div>
      <!-- <div id="1" class="1">

      </div>
      <div id="2" class="2">

      </div>
      <div id="3" class="3">

      </div>
      <div id="4" class="4">

      </div>
      <div id="1" class="1">

      </div>
      <div id="2" class="2">

      </div>
      <div id="3" class="3">

      </div>
      <div id="4" class="4">

      </div> -->
    </main>
    <script src="js/color.js"></script>
    <script src="js/jscolor.js"></script>
  </body>
</html>
