<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/styles.css">
    <title>Date picker</title>
  </head>
  <body>
    <main>
      <form class="form" action="/" method="POST">
        <h1 class="title">when would you like to go?</h1>





          <select id="day" class="form__select focus" name="day">
            <option value="" selected disabled>day</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
          </select>

          <select id="month" class="form__select focus" name="month">
            <option value="" selected disabled>month</option>
            <option value="januari">Januari</option>
            <option value="februari">Februari</option>
            <option value="maart">March</option>
            <option value="april">April</option>
            <option value="mei">May</option>
            <option value="juni">June</option>
            <option value="juli">July</option>
            <option value="augustus">August</option>
            <option value="september">September</option>
            <option value="oktober">October</option>
            <option value="november">November</option>
            <option value="december">December</option>
          </select>

          <select id="year" class="form__select focus" name="year">
            <option value="" selected disabled>year</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2024">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
            <option value="2030">2030</option>
            <option value="2031">2031</option>
            <option value="2032">2032</option>
            <option value="2034">2033</option>
            <option value="2034">2034</option>
            <option value="2035">2035</option>
            <option value="2036">2036</option>
            <option value="2037">2037</option>
            <option value="2038">2038</option>
            <option value="2039">2039</option>
          </select>

          <!-- <button class="btn" type="submit" name="button">submit</button> -->

          <div class="radio">
            <h2 class="title">with how many people?</h2>

            <input id="one" type="radio" name="amount" value="1" hidden>
            <label id="label-one" class="label label-one" for="one" tabindex="0" name="amount-label">1</label>

            <input id="two" type="radio" name="amount" value="2" hidden>
            <label id="label-two" class="label label-two" for="two" tabindex="0" name="amount-label">2</label>

            <input id="three" type="radio" name="amount" value="3" hidden>
            <label id="label-three" class="label label-three" for="three" tabindex="0" name="amount-label">3</label>

            <input id="four" type="radio" name="amount" value="4" hidden>
            <label id="label-four" class="label label-four" for="four" tabindex="0" name="amount-label">4</label>

          </div>

        </div>
      </form>
      <section class="manual">
        <h2 class="manual__title">how to use:</h2>
        <ul class="manual__list">
          <li class="manual__list__item">press "Z" to set the focus to DAY</li>
          <li class="manual__list__item">press "X" to set the focus to MONTH</li>
          <li class="manual__list__item">press "C" to set the focus to YEAR</li>
        </ul>
        <ul class="manual__list2">
          <li class="manual__list__item">press "SPACEBAR" to open the dropdowns</li>
          <li class="manual__list__item">press "SPACEBAR" or "ENTER" to select an option</li>
        </ul>
        <ul class="manual__list3">
          <li class="manual__list__item">press "V" for 1 person</li>
          <li class="manual__list__item">press "B" for 2 people</li>
          <li class="manual__list__item">press "N" for 3 people</li>
          <li class="manual__list__item">press "M" for 4 people</li>
        </ul>
      </section>

      <audio id="audio" src="http://www.soundjay.com/button/beep-07.wav" autoplay="false" ></audio>

      <audio id="audio1" src="https://www.soundjay.com/button/sounds/beep-23.mp3" autoplay="false" ></audio>

      <audio id="audio2" src="https://www.soundjay.com/button/sounds/beep-25.mp3" autoplay="false" ></audio>

      <audio id="audio3" src="https://www.soundjay.com/button/sounds/beep-027.mp3" autoplay="false" ></audio>

      <audio id="audio4" src="https://www.soundjay.com/button/sounds/beep-30b.mp3" autoplay="false" ></audio>

    </main>
    <script src="js/main.js"></script>
  </body>
</html>
